.home.post-list {
    margin: 2.5em 0 0em 0;
    .post-list-item {
        padding: 0em 0 0.7em 0;
        .post-title{
            text-align-last: left;
            font-size: 1.4em;
        }
        .post-content{
            p{
                margin-block-start: 0.1em;
                margin-block-end: 0.5em;  
            }
        }
    }

}